.card {
    background-color: #fff;
    position: relative;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;

    &__header {
        background: url('/images/bg-pattern-card.svg');
        background-size: cover;
        height: 140px;
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -15%;

        img {
            border-radius: 50%;
            border: 5px solid #fff;
        }
    }

    &__content {
        text-align: center;
        font-size: $sizePrimary;

        .name {
            font-weight: 700;
            margin-top: 1.875rem;

            span {
                font-weight: 400;
                color: $darkGray;
            }
        }

        .location {
            margin-top: 0.5rem;
            margin-bottom: 1.875rem;
            font-weight: 400;
            color: $darkGray;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-top: 1px solid $darkGray;
        padding: 1.875rem;
        font-weight: 700;
        text-align: center;
        font-size: $sizePrimary;

        span {
            display: block;
            font-size: 0.625rem;
            letter-spacing: 0.125rem;
            font-weight: 400;
            color: $darkGray;
        }
    }
}