html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-color: #19a2ae;
    background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}